/* montserrat-100 - cyrillic */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/montserrat-v26-cyrillic-100.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* montserrat-200 - cyrillic */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/montserrat-v26-cyrillic-200.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* montserrat-300 - cyrillic */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/montserrat-v26-cyrillic-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* montserrat-regular - cyrillic */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v26-cyrillic-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* montserrat-500 - cyrillic */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/montserrat-v26-cyrillic-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* montserrat-600 - cyrillic */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/montserrat-v26-cyrillic-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* montserrat-700 - cyrillic */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-v26-cyrillic-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* montserrat-800 - cyrillic */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/montserrat-v26-cyrillic-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* montserrat-900 - cyrillic */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/montserrat-v26-cyrillic-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }


html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    font-family: 'Montserrat';
    font-style: normal;
    width: 100%;
    background-image: url(../images/bacg_main1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Делаем фон фиксированным */
    transition: background-image 1s ease-in-out; /* Плавная смена фона */
}
.wrapper{
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 15px;
}
a{
    text-decoration: none;
}
.header {
    background: rgb(138, 122, 238);
    flex-shrink: 0;
    position: static;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.header_wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}

.header_logo {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    margin-left: 100px;
    text-decoration: none;
    transition: color 0.3s;
    margin-right: 100px;
    position: relative;
    display: inline-block;
}
.header_logo::after {
    content: "";
    display: block;
    width: 150px; /* Длина полоски (можно подогнать) */
    height: 3px;
    background-color: white;
    border-radius: 2px;
    position: absolute;
    left: 50%;
    bottom: -10px; /* Отступ вниз */
    transform: translateX(-50%);
}
.header_logo:hover {
    color: #c2c2c2;
}

.header_nav {
    margin-right: 100px;
    position: relative;
}

.header_list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    align-items: center;
    margin: 0;
    padding: 0;
}

.header_link {
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-decoration: none;
    transition: color 0.3s;
    font-size: 24px;
    font-weight: 500;
    display: inline-block;
}

.header_link:hover {
    color: #c2c2c2;
}

.header_item {
    display: inline-block;
    margin-right: 73px;
    position: relative; /* Добавлено для активного состояния */
}

.header_item:last-child {
    margin-right: 0;
}
.header_item a:focus {
    color: rgb(175, 175, 175); /* Цвет при фокусировке */
}
.header_item_active::after {
    content: "";
    display: block;
    width: 150px; /* Длина полоски */
    height: 4px;
    background-color: white;
    border-radius: 2px;
    position: absolute;
    left: 50%;
    bottom: -12px; /* Отступ вниз */
    transform: translateX(-50%);
}
.tit1 {
    color: rgb(255, 255, 255);
    font-family: 'Montserrat';
    font-size: 40px;
    font-weight: 400;
    line-height: 0%;
    letter-spacing: 2%;
    text-align: justify;
    text-transform: lowercase;
    line-height: 50px;
}
.tit2 {
    color: rgb(255, 255, 255);
    font-family: 'Montserrat';
    font-size: 64px;
    font-weight: 700;
    line-height: 0%;
    letter-spacing: 2%;
    text-align: justify;
    line-height: 50px;
    text-transform: uppercase;
    text-shadow: 5px 7px 4px rgba(0, 0, 0, 0.25);
}
.tit3 {
    color: rgb(176, 163, 254);
    font-family: 'Montserrat';
    font-size: 96px;
    font-weight: 800;
    line-height: 102.57%;
    letter-spacing: 2%;
    text-align: justify;
    text-transform: uppercase;
    margin-top: 30px;
    text-shadow: 5px 7px 4px rgba(0, 0, 0, 0.25);
}

.text1{
    width: 992px;
    display: flex;
    margin-top: 150px;
    margin-left: 145px;
    flex-direction: column;
    align-items: flex-start;
    line-height: 500px;
    flex-wrap: wrap;

}

.login-btn {
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-family: 'Montserrat';
    font-size: 48px;
    font-weight: 700;
    line-height: 78px;
    text-align: center;
    margin-top: 400px;
    width: 400px;
    height: 160px;
    margin-left: 743px;
    box-sizing: border-box;
    border: 4px solid rgb(255, 255, 255);
    border-radius: 37px;
    background: rgba(197, 197, 197, 0.32);
}

.login-btn:hover {
    background: rgba(197, 197, 197, 0.5);
    border-color: rgba(255, 255, 255, 0.8);
    color: rgba(255, 255, 255, 0.9);
}

.button {
    margin-bottom: 170px;
}

#scrollToTopBtn {
    width: 50px;
    height: 50px;
    background-color: rgb(138, 122, 238);
    border: 1px solid white;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    transition: background-color 0.3s, transform 0.2s;
}

#scrollToTopBtn:hover {
    background-color: rgba(138, 122, 238, 0.51);
    transform: scale(1.1);
}