/* montserrat-100 - cyrillic */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/montserrat-v26-cyrillic-100.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* montserrat-200 - cyrillic */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/montserrat-v26-cyrillic-200.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* montserrat-300 - cyrillic */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/montserrat-v26-cyrillic-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* montserrat-regular - cyrillic */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v26-cyrillic-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* montserrat-500 - cyrillic */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/montserrat-v26-cyrillic-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* montserrat-600 - cyrillic */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/montserrat-v26-cyrillic-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* montserrat-700 - cyrillic */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-v26-cyrillic-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* montserrat-800 - cyrillic */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/montserrat-v26-cyrillic-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* montserrat-900 - cyrillic */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/montserrat-v26-cyrillic-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }


html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    font-family: 'Montserrat';
    font-style: normal;
    width: 100%;
    background-image: url(../images/bacg_contacts.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:local;
}
.wrapper{
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 15px;
}
a{
    text-decoration: none;
}
.header {
    background: rgb(138, 122, 238);
    flex-shrink: 0;
    position: static;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.header_wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}

.header_logo {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    margin-left: 100px;
    text-decoration: none;
    transition: color 0.3s;
    margin-right: 100px;
    position: relative;
}

.header_logo:hover {
    color: #c2c2c2;
}

.header_nav {
    margin-right: 100px;
    position: relative;
}

.header_list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    align-items: center;
    margin: 0;
    padding: 0;
}

.header_link {
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-decoration: none;
    transition: color 0.3s;
    font-size: 24px;
    font-weight: 500;
    display: inline-block;
}

.header_link:hover {
    color: #c2c2c2;
}

.header_item {
    display: inline-block;
    margin-right: 73px;
    position: relative; /* Добавлено для активного состояния */
}

.header_item:last-child {
    margin-right: 0;
}

.header_item_active::after {
    content: "";
    display: block;
    width: 150px; /* Длина полоски */
    height: 3px;
    background-color: white;
    border-radius: 2px;
    position: absolute;
    left: 50%;
    bottom: -12px; /* Отступ вниз */
    transform: translateX(-50%);
}

.header_item a:focus {
    color: rgb(175, 175, 175); /* Цвет при фокусировке */
}

p{
    color: rgb(0, 0, 0);
    font-family: 'Montserrat';
    font-size: 30px;
    font-weight: 500;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: left;
    width: 540px;
    height: 349px;
}

.contact{
    margin-top: 115px;
    margin-left: 278px;
}
.contact h2 {
    color: rgb(0, 0, 0);
    font-family: 'Montserrat';
    font-size: 45px;
    font-weight: 700;
    line-height: 55px;
    letter-spacing: 0%;
    text-align: left;
}

form {
    display: flex;
    margin-top: 82px;
    flex-direction: column;
    max-width: 400px;
    align-items: flex-start; /* Убираем центрирование */
}

label {
    align-self: flex-start;
    font-weight: 500;
    margin-top: 10px;
}

input, select, textarea {
    border: none;
    font-family: 'Montserrat';
    margin-bottom: 10px;
    outline: none;
    margin-left: 0px;
    width: 100%;
    height: 46px;
    margin-top: 5px;
    font-size: 16px;
    border-radius: 12px;
    padding-left: 20px;
    background: rgba(138, 122, 238, 0.22);
}
/* Изменение ширины полей */
#name { width: 810px;height: 46px }   /* ФИО */
#email { width: 706px; height: 46px}  /* Email */
#service { width: 561px; height: 46px} /* Услуга */
#comment { width: 810px; height: 205px; resize: none; } /* Комментарий */

select{

    appearance: none;
    padding-right: 40px; 
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24' fill='%23000000'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
    background-position: calc(100% - 23px) center; /* Двигаем стрелку левее */
    background-repeat: no-repeat;
    background-size: 16px;
}
textarea {
    height: 100px;
    resize: none;
}

/* Кнопка */
button {
    position: relative;
    top: 20px;
    margin-left: 146px;
    border: none;
    outline: none;;
    width: 220px;
    height: 69px;
    margin-top: 20px;
    padding: 15px 30px;
    color: rgb(255, 255, 255);
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 500;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    color: white;
    border-radius: 12px;
    background: rgb(138, 122, 238);
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}

button:hover {
    background: rgba(138, 122, 238, 0.51);
    color:white;
}
footer{
    margin-top: 350px;
    width: 100%;
    height: 90px;
    background-color: white;
}
.footer_wrapper{
    width: 1920px;
    margin: 0 auto;
    text-align: center;
}

.social_icons{
    display: inline-block;
    margin-top: 35px;
}
.social_icons a{
    display: inline-block;
    margin: 0 50px;

}
.social_icons img{
    width: 48px;
    height: 48px;
}

